<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <title>首页</title>
    <link rel="stylesheet" href="../../static/css/message/index.css" type="text/css"/>
    <script>
        $(function () {
            $.get('/message/get_name_by_username', function (data) {
                $("#user_name").text(data.name)
            })
        })
    </script>
</head>
<body>
<h1>
    欢迎登录<a id="user_name"></a>
</h1>
<div id="all_div">
    <div id="ml">
        <div id="data_div">
            <a href="{% url 'message:getmsg' %}" id="data">
                <h1><b>自动生成测试数据</b></h1>
            </a>
        </div>
        <div id="ui_div">
            <a href="" id="ui">
                <h1><b>UI自动化练习</b></h1>
            </a>
        </div>
        <div id="monkey_div">
            <a href="{% url 'message:monkey' %}" id="monkey">
                <h1><b>自动生成monke命令</b></h1>
            </a>
        </div>
        <div id="requests_div">
            <a href="" id="requests">
                <h1><b><abbr>API</abbr>测试练习</b></h1>
            </a>
        </div>
    </div>
</div>
</body>
</html>